[submodule "pack/default/start/vim-fugitive"]
	path = pack/default/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "pack/default/start/vim-commentary"]
	path = pack/default/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "pack/default/start/vim-eunuch"]
	path = pack/default/start/vim-eunuch
	url = https://github.com/tpope/vim-eunuch
[submodule "pack/default/start/vimwiki"]
	path = pack/default/start/vimwiki
	url = https://github.com/vimwiki/vimwiki
[submodule "pack/default/start/vim-scriptease"]
	path = pack/default/opt/vim-scriptease
	url = https://github.com/tpope/vim-scriptease
[submodule "pack/default/start/ctrlp.vim"]
	path = pack/default/start/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule "pack/default/start/neodark.vim"]
	path = pack/default/start/neodark.vim
	url = https://github.com/KeitaNakamura/neodark.vim
[submodule "pack/default/start/vim-sneak"]
	path = pack/default/start/vim-sneak
	url = https://github.com/justinmk/vim-sneak
[submodule "pack/default/start/clever-f.vim"]
	path = pack/default/start/clever-f.vim
	url = https://github.com/rhysd/clever-f.vim
[submodule "pack/default/start/vim-fish"]
	path = pack/default/opt/vim-fish
	url = https://github.com/dag/vim-fish
[submodule "pack/default/start/vim-which-key"]
	path = pack/default/start/vim-which-key
	url = https://github.com/liuchengxu/vim-which-key
[submodule "pack/default/start/Apprentice"]
	path = pack/default/start/Apprentice
	url = https://github.com/romainl/Apprentice
[submodule "pack/default/start/gruvbox"]
	path = pack/default/start/gruvbox
	url = https://github.com/gruvbox-community/gruvbox
[submodule "pack/default/start/vim-css-color"]
	path = pack/default/start/vim-css-color
	url = https://github.com/ap/vim-css-color
